/* Css de l'onglet de connexion */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px auto;
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: rgb(43, 128, 185);
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: rgb(43, 128, 185);
}

input {
    border-radius: 5px 5px;
    text-align: center;
    margin: 5px;
    padding: 4px 6px;
    border: 2px solid black;
}

button {
    text-align: center;
    margin: 5px;
    transition: 300ms;
    background-color: rgb(60, 154, 60);
    color: white;
    border-radius: 80px;
}

button:hover {
    background-color: red;
    color: black;
    transition: 300ms;
}

.formu {
    position: absolute;
    border: 3px solid;
    border-radius: 10%;
    background-color: rgb(196, 217, 255);
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.para {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: black;
}

table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align: center;
}